<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406044404399-lkjj91mj23icpneiruq9dtphtqsvjjsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406044404399-lkjj91mj23icpneiruq9dtphtqsvjjsn</string>
	<key>API_KEY</key>
	<string>AIzaSyDTGnq1gYM8DcmllD8BbEXleUJX-aL6vWc</string>
	<key>GCM_SENDER_ID</key>
	<string>406044404399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IOSDevParksideHunter.QuickPick-Up</string>
	<key>PROJECT_ID</key>
	<string>finalproject-5ac50</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject-5ac50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406044404399:ios:782f93246aa6a25c33425a</string>
</dict>
</plist>